/************************************************************************************************************/
/************************************************************************************************************/
/*******************************ESTILOS EFECTOS PRECIOS EN MOVIMIENTO EPM002 ********************************/
/************************************************************************************************************/
/************************************************************************************************************/

#EPM0002-prices-container {
    white-space: nowrap;
    overflow: hidden;
  }
  
  .EPM0002-precio {
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
  }
  